

	<audio id="myplayer" controls  >

	</audio>
<table>
	
	<th>Track</th>
	<th>Artist</th>
	<th>Album</th>
	<% i = -1 %>
	<% JSON.parse(@search).each do |track|%>
	<tr>
	<td id="<%= i = i + 1%>" ondblclick="playSong(<%= i %>)"><%= track['name'] %></td>
	<% track['album']['music_groups'].each do |groups|%>
		<td> <%= groups['name']%> </td>
	<% end %>
	<td><%= track['album']['name'] %></td>
	</tr>


<% end %>
</table>
<div id="controller">
<input type="button" id="previoustrack" value="" title="previoustrack"/>	
<input type="button"  name ="playbutton" id="notplaying" value="" title="Play"/>
<input type="button" id="nexttrack" value="" title="previoustrack"/>
<input type="button" class="shuffle off" id="shuffle" value="" title="shuffle media"/>
<input type="range"  min="0" max="500" step="any" value="0" id="seekBar"/>
<span id="timer">
 <span id="currentTime"></span>
 <span id="duration"></span>
</span>
<input type="button" class ="mute false" id="muteButton" value="" title="Mute"/>
<input type="range" id="volumeControl" min="0" max="1" value ="100" width="20%" height="100" step="any" />
</div>

<script>
var play = document.getElementsByName('playbutton')
var muted = document.getElementById('muteButton')
var volumeControl = document.getElementById('volumeControl')
var seekBar = document.getElementById('seekBar')
var player = document.getElementById('myplayer')
var songlist = <%= h @search.html_safe %>
var queuesonglist =[];
var searchresult = document.getElementsByName('songlist');
var nextTrack = document.getElementById('nexttrack');
var prevTrack = document.getElementById('previoustrack');
var shufflebutton = document.getElementById('shuffle');



setInterval(updateSeekBar,300);

	play[0].addEventListener("click" ,playPause);

	muted.addEventListener("click" , muteAndUnmuteAudio)
	volumeControl.addEventListener("change" , setVolume)
	seekBar.addEventListener("change" , changeSongTimePosition)
	nextTrack.addEventListener("click" , nextSong)
	prevTrack.addEventListener("click" , prevSong)
	shufflebutton.addEventListener("click" , toggleShuffle)

	
</script>