<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toggleMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href=<%= @onlineUser ? 'main' : '/' %>  <%= @onlineUser ? 'data-remote=true' : '' %>>WebSiteName</a>
      </div>
      <div id="toggleMenu" class="collapse">
      <%if @onlineUser%>
          <%= render(:partial => "assets/searchbar")%>
      <%end%>
    
      <ul class="nav navbar-nav navbar-right">

        <li>
          <%if @onlineUser %>
              <%= link_to(user_path(@onlineUser.id),:remote=>true) do %>
              <span class="glyphicon glyphicon-user"></span>Signed in as <%= @onlineUser.email %>
              <%end%>
              </li>
              <li>
              <%= link_to ("/logout"  ) do %>
              <span class="glyphicon glyphicon-log-in"></span> Logout
              <%end%>
              </li> 

         <%else%>
              <%= link_to ("/register" ) do %>
              <span class="glyphicon glyphicon-user"></span>Register 
              <%end%>
              </li>
              <li>
              <%= link_to ("/login"  ) do %>
              <span class="glyphicon glyphicon-log-in"></span> Login
              <%end%>
              </li> 
        <%end%>
        
      </ul>
      </div>
    
  </div>
</nav>