<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= @page_title || "Music service" %></title>
	<%= stylesheet_link_tag('application') %>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag('application') %>
	


</head>
<body>
		<%= render(:partial => "assets/navigationbar")%>
				
				<% if !flash['notice'].blank? %>
				
				<div class="alert alert-<%= flash['type'] %>">
					<p> <%= flash['notice'] %> </p>
				</div>
			
			<% end %>
	<div id="container" class="container-fluid <%= @index ? @index : '' %>">
			<div class="row row-hundred">
				<div class="col-sm-12 col-md-9 right overflow-hide hundred">
					<div id="main">
						<%= yield() %>
					</div>
					
		
				</div>
				<div class="col-sm-12 col-md-3 hundred relative">
					<%if @onlineUser%>
						<div id="sidebar">
						<div id="web-player">
						<%= render(:partial => "assets/myplayer" , :locals => {:url => @url})%>
						<%= render(:partial => "assets/myplayer_script")%>
						</div>
						</div>
					<%end %>
				</div>
		</div>
	</div>


</body>
</html>