<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @page_title || "Music service" %></title>
	<%= stylesheet_link_tag('application') %>
	<%= javascript_include_tag('application') %>
	


</head>
<body>
	<div class= "header">
		<%= render(:partial => "assets/searchbar")%>
	</div>
	<div id="container">

			<% if !flash['notice'].blank? %>
				
				<div class="message-notice">
					<p> <%= flash['notice'] %> </p>
				</div>
			
			<% end %>


		<%= yield() %>
			
	</div>
	<%= render(:partial => "assets/myplayer")%>
	<%= render(:partial => "assets/myplayer_script")%>
</body>
</html>